{% extends "base.html" %}
{% block title %} <title>Student Profile</title> {% endblock %}
{% load static %}
{% block body %}

{% include "components/navbar2.html" %}

<style>
    body {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("{% static 'images/hostelBg.jpg' %}") no-repeat center center fixed;
        background-size: cover;
    }
</style>

<div class="d-flex justify-content-center align-items-start" style="height: 80vh; margin-top: 80px;">
    <div class="container text-white p-5 rounded"
        style="background: #f1e9d2; color: black !important; max-width: 800px;">
        
        <div class="row">
            <div class="col-md-5 ">
                <img src="/static/images/images-removebg-preview.png " class="p-0 m-0" alt="Logo"
                    style="height: 200px;">
                <h3>{{role.name}}</h3>
            </div>

            <div class="col-md-7 mt-5 align-items-center">
                {% if role == "warden" %}
                <h2>Welcome, Warden Mam!</h2>
                <p>You have access to manage database records.</p>

                {% elif role == "matron" %}
                <h2>Welcome, Matron Mam!</h2>
                <p>You have permission to update student details.</p>
                

                {%endif%}
            </div>

        </div>

    </div>
</div>

{% endblock %}