{% extends "base.html" %}
{% block title %} <title>MessBill</title> {% endblock %}
{% load static%}
{% block body %}

   
{% include "components/navbar.html" %}

<style>
    body {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("{% static 'images/kchostel.jpg' %}") no-repeat center center fixed;
        background-size: cover;
    }
</style>

<div class="d-flex justify-content-center align-items-start" style="height: 80vh; margin-top: 80px;">
    <div class="container text-white p-5 rounded"
        style="background: #f1e9d2; color: black !important; max-width: 800px;">
        <h1 class="text-center" style="color: black;">Mess Bill- Urvashi Kshatriya</h1>
        <div class="row mt-3">
            <div class="col-md-5 ">
                <img src="/static/images/images-removebg-preview.png " class="p-0 m-0 " alt="Logo"
                    style="height: 150px; align-items: center;">
                <h3>Urvashi Kshatriya</h3>
            </div>

            <div class="col-md-7 mt-5 align-items-center">
                <div class="my-2">
                    <strong>Name - </strong>
                    <p class="d-inline">Urvashi Kshatriya</p>
                </div>

                <div class="my-2">
                    <strong>Sch. No. - </strong>
                    <p class="d-inline">32765</p>
                </div>

                <div class="my-2">
                    <strong>Category - </strong>
                    <p class="d-inline">General</p>
                </div>

                <div class="my-2">
                    <strong>Branch - </strong>
                    <p class="d-inline">IOT</p>
                </div>

                <div class="my-2">
                    <strong>Year - </strong>
                    <p class="d-inline">3rd year</p>
                </div>
                
                <div class="my-2">
                    <strong>No. of Days - </strong>
                    <p class="d-inline">28</p>
                </div>
                
                <div class="my-2">
                    <strong>Amount - </strong>
                    <p class="d-inline">1612</p>
                </div>
                
                <div class="my-2">
                    <strong>Dues - </strong>
                    <p class="d-inline">No Dues</p>
                </div>
            </div>

        </div>

    </div>
</div>

{% endblock %}