{% extends "base.html" %}
{% block title %} <title>Student Profile</title> {% endblock %}
{% load static %}
{% block body %}

{% include "components/navbar2.html" %}

<style>
    body {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("{% static 'images/kchostel.jpg' %}") no-repeat center center fixed;
        background-size: cover;
    }
</style>

<div class="d-flex justify-content-center align-items-start" style="height: 80vh; margin-top: 80px;">
    <div class="container text-white p-5 rounded"
        style="background: #f1e9d2; color: black !important; max-width: 800px;">
        
        <div class="row">
            

        
        <div class="container ">
            {% if messages %}
                    <div class="mt-4">
                        {% for message in messages %}
                            <div class="alert alert-success">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
                
            <!-- Complaint Form Container with Solid Background -->
            <div class="p-4 rounded shadow-lg" style="background-color: #f1e9d2; color: white;">
                
                <!-- Header -->
                <h2 class="text-center mb-4  text-white p-3 rounded" style="background-color:#5a3e1b ;">🌟 Edit Mess Bill Template 🌟</h2>
        
                <form method="post" action="{% url 'testEditBill' %}">
                    {% csrf_token %}
                    
                    <div class="mb-3">
                        <label for="name" class="form-label text-black">Name:</label>
                        <input type="text" id="name" name="name" class="form-control" placeholder="Enter student name" required>
                    </div>
                
                    <div class="mb-3">
                        <label for="sch_no" class="form-label text-black">Sch No.:</label>
                        <input type="text" id="sch_no" name="sch_no" class="form-control" placeholder="Enter student's Sch no. " required>
                    </div>
                    <div class="mb-3">
                        <label for="n_days" class="form-label text-black">No. Of Days</label>
                        <input type="text" id="n_days" name="n_days" class="form-control" placeholder="Enter student's no. of days name" required>
                    </div>
                    
                    <div class="mb-3">
                        <label for="g_amont" class="form-label text-black">Guest Charge:</label>
                        <input type="text" id="g_amont" name="g_amont" class="form-control" placeholder="Enter student's guest Charge" required>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn" style="background-color:#5a3e1b; color:white">Save</button>
                    </div>
                </form>
                
                
                
            </div> <!-- End of Solid Container -->
        </div>

        </div>

    </div>
</div>

{% endblock %}