{% extends 'base.html' %}
{% load static %}

{% block body %}

{% include "components/navbar2.html" %}

<style>
    body {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("{% static 'images/kchostel.jpg' %}") no-repeat center center fixed;
        background-size: cover;
    }
</style>

<div class="d-flex justify-content-center align-items-start" style="height: 80vh; margin-top: 80px;">
    <div class="container text-white p-5 rounded"
        style="background: #f1e9d2; color: black !important; max-width: 900px;">

    <div class="container text-white  d-flex flex-column justify-content-center align-items-center"
    style="background: #f1e9d2; color: black !important; ">
    
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            background-color: white;
            color: black;
            font-size: 14px;
        }

        th, td {
            border: 1px solid #000; /* solid black border */
            padding: 8px;
            text-align: center;
        }

        thead {
            background-color: #6387dfff; /* light green header */
            font-weight: bold;
        }

        tbody tr:nth-child(even) {
            background-color: #f9fafb; /* light gray for alternate rows */
        }
    </style>


    <div class="table-container">
        

        {% if bills %}
        <h2 style="text-align:center;">Mess Bill - {{ month }}</h2>

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Scholar No.</th>
                    <th>Category</th>
                    <th>Branch</th>
                    <th>Year</th>
                    <th>No. of Days</th>
                    <th>Total Amount</th>
                    <th>Dues</th>
                </tr>
            </thead>
            <tbody>
                {% for bill in bills %}
                <tr>
                    <td>{{ bill.name }}</td>
                    <td>{{ bill.sch_no }}</td>
                    <td>{{ bill.category }}</td>
                    <td>{{ bill.branch }}</td>
                    <td>{{ bill.display_year }}</td>
                    <td>{{ bill.number_of_days }}</td>
                    <td>{{ bill.total_amount }}</td>
                    <td>{{ bill.dues }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p style="text-align: center;">No bills available for this month.</p>
        {% endif %}
        <div style="text-align: center; padding: 20px;">
            <a href="{% url 'viewMessBill' %}" class="btn btn-primary mb-3">Back</a>
            <a href="{% url 'download_bill_pdf' month_name %}" class="btn btn-danger mb-3">Download as PDF</a>
        </div>
    </div>
</div>
{% endblock %}
