{% extends "base.html" %}
{% block title %} <title>Staff Information</title> {% endblock %}
{% load static%}
{% block body %}

    {% include "components/navbar.html" %}

    <style>
        body {
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("{% static 'images/hostelBg.jpg' %}") no-repeat center center fixed;
            background-size: cover;
        }
    </style>
    
    <a href="{% url 'login' %}"></a>

    <div class="row">
        <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="loginModalLabel">Login</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
    
                    <div class="modal-body">
                        <!-- Login Form -->
                        <form method="POST" action="{% url 'login' %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username" name="username" required>
                            </div>
    
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
    
                            <button type="submit" class="btn btn-dark">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container mt-5">
        <h2 class="text-center mb-0 bg-dark text-white p-3 rounded">Staff Information</h2>
    
        <table class="table table-bordered table-striped" class="table table-dark table-hover" >
            <thead class="table-dark">
                <tr>
                    <th style="width: 10%;">S.No.</th>
                    <th>Name</th>
                    <th>Post</th>
                    <th>Contact Number</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>1.</td> 
                    <td>Prof. Dr. Shilpi Tomar</td>
                    <td>Warden</td>
                    <td>9229444033</td>
                </tr>

                <tr>
                    <td>2.</td> 
                    <td>Smt. Ritu Raghuwanshi</td>
                    <td>Matron</td>
                    <td>9755295409</td>
                </tr>

                <tr>
                    <td>3.</td> 
                    <td>Manoj Pawar</td>
                    <td>Peon</td>
                    <td>8962733323</td>
                </tr>

                <tr>
                    <td>4.</td> 
                    <td>Poonam Raikwar</td>
                    <td>Peon</td>
                    <td>9039248527</td>
                </tr>

                <tr>
                    <td>5.</td> 
                    <td>Laxmi Kushwah</td>
                    <td>Peon</td>
                    <td>7879554975</td>
                </tr>

                <tr>
                    <td>6.</td> 
                    <td>Monika Valmiki</td>
                    <td>Cleaner</td>
                    <td>8963517002</td>
                </tr>

                
            </tbody>
        </table>
    </div>

{% endblock %}