{% extends "base.html" %}
{% block title %} <title>View Mess Bill</title> {% endblock %}
{% load static %}
{% block body %}

{% include "components/navbar2.html" %}

<style>
    body {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("{% static 'images/hostelBg.jpg' %}") no-repeat center center fixed;
        background-size: cover;
    }
</style>

<div class="d-flex justify-content-center align-items-start" style="height: 80vh; margin-top: 80px;">
    <div class="container text-white p-5 rounded"
        style="background: #f1e9d2; color: black !important; max-width: 800px;">

    <div class="container text-white  d-flex flex-column justify-content-center align-items-center"
    style="background: #f1e9d2; color: black !important; ">
    

    <h2>Select Month to View Mess Bill</h2>

    <form method="POST">
        {% csrf_token %}
        <div>
            {% for month in months %}
                <button type="submit" name="month" value="{{ month }}" class="month-button">{{ month }}</button>
            {% endfor %}
        </div>
    </form>

    <style>
        .month-button {
            margin: 5px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .month-button:hover {
            background-color: #e0e0e0;
        }
    </style>
    <div style="text-align: center; padding: 20px;">
        <a href="{% url 'view_info' %}" class="btn btn-primary mb-3">Back</a>
    </div>
    
</div>


{% endblock %}