{% extends "base.html" %}
{% block title %} <title>Student Profile</title> {% endblock %}
{% load static %}
{% block body %}

{% include "components/navbar2.html" %}

<style>
    body {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("{% static 'images/kchostel.jpg' %}") no-repeat center center fixed;
        background-size: cover;
    }
</style>

<div class="row mt-4">
        
            <a href="{% url 'viewMessBill' %}" class="btn btn-success mb-3">Mess Bill</a>
            <a href="{% url 'viewStudentInfo' %}" class="btn btn-success mb-3 ">Student Information</a>
    
</div>
{% endblock %}