{% extends "base.html" %}
{% block title %} <title>Student Profile</title> {% endblock %}
{% load static %}
{% block body %}

{% include "components/navbar2.html" %}

<style>
    body {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("{% static 'images/hostelBg.jpg' %}") no-repeat center center fixed;
        background-size: cover;
    }
</style>

<div class="d-flex justify-content-center align-items-start" style="height: 80vh; margin-top: 80px;">
    <div class="container text-white p-5 rounded"
        style="background: #f1e9d2; color: black !important; max-width: 800px;">

    <div class="container text-white  d-flex flex-column justify-content-center align-items-center"
    style="background: #f1e9d2; color: black !important; ">
    
    <h2 class="text-center">What do you want to view</h2>
    
    </div>
    <div class="row mt-4">
        
            <a href="{% url 'viewMessBill' %}" class="btn btn-success mb-3">Mess Bill</a>
            <a href="{% url 'viewStudentInfo' %}" class="btn btn-success mb-3 ">Student Information</a>
       


        
            <a href="{% url 'viewRecords' %}" class="btn btn-success mb-3 ">Records</a>

            <a href="{% url 'viewComplaints' %}" class="btn btn-success mb-3 ">Complaints</a>
        


    
    </div>
    
</div>

{% endblock %}